<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Configuration</title>
    <th:block th:include="fragments/head"></th:block>

</head>
<style>
    
</style>

<body>
    <th:block th:include="fragments/hnav"></th:block>

<!--     <th:block th:include="fragments/frg_configuration"></th:block> -->
    <H3>Input</H3>
    
    <form class="container" method="post" id="bioForm">
	  <div class="form-group">
	    <label for="email1">Email address</label>
	    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
	    <small id="emailHelp" class="form-text text-muted">Working email.</small>
	  </div>
	  <div class="form-group">
	  <section class="row">
		  <article class="col col-6">
		    <label for="name">Name</label>
		    <input type="text" class="form-control" id="name" placeholder="Enter name">
		  </article>
		  <article class="col col-6">
		    <label for="department">Department</label>
		    <input type="text" class="form-control" id="department" placeholder="Enter department">
		  </article>
	  </section>
	  </div>
	  <div class="form-group">
	    <label for="bio">Bio</label>
	    <textarea class="form-control" id="bio" rows="3"></textarea>
	  </div>
	  <button type="submit" class="btn btn-primary" id="submitBio">Submit</button>
	</form>
    
    <!-- Bottom Javascripts -->
     <script type="text/javascript" th:src="@{/resources/input/submitForm.js}" ></script> 
</body>
</html>
