    <link rel="stylesheet" href="/library/webjars/bootstrap/5.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/library/webjars/datatables/1.10.25/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/library/webjars/datatables/1.10.25/css/jquery.dataTables.min.css">
    
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">-->
    <link rel="stylesheet" type="text/css" href="/library/webjars/datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    
    <link rel="stylesheet" type="text/css" href="/library/skin/default-skin/tool.css">

    <!-- jQuery library -->
    <script src="/library/webjars/jquery/1.12.4/jquery.min.js"></script>
    
    <!-- For Sakai only -->
    <script type="text/javascript" src="/library/js/headscripts.js"></script>

    <!-- Determine the root context of the application.  -->
    <script th:inline="javascript"> var _ctx = /*[[@{/}]]*/ ''; 
    </script>
